<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign-Up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="wrapper">
                    <div id="sign_in">
                        <form action="/addProduct" method="post" id="addForm" class="form justify-content-center">
                            <div class="d-flex row"><label>Type</label><input class="form-control" placeholder="Type" name="type" type="text" required></div>
                            <div class="d-flex row"><label>Name</label><input class="form-control" placeholder="Name" name="name" type="text" required></div>
                            <div class="d-flex row"><label>Color</label><input class="form-control" placeholder="Color" name="color" type="text" required></div>
                            <div class="d-flex row"><label>Price</label><input class="form-control" placeholder="Price" name="price" type="number" step="any" min="0" required></div>
                            <div class="d-flex row"><label>Image</label><input class="form-control" placeholder="Image Url" name="image" type="text" required></div>
                            <div class="d-flex row"><label>Description</label><textarea class="form-control" placeholder="Product description" name="description" type="text" required></textarea></div>

                        </form>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="addForm">Add</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>
        let disabledCount = 0;
        $(document).ready(function () {
            $("#verifyButton").on("click", function () {
                if(disabledCount === 5){
                    alert("Sorry no more attempts left");
                }
                else {
                    let inputPass = $("#adminPass").val();
                    if (inputPass === "sdf") {
                        $("#verifeye").addClass("d-none");
                        $("#sign_in").removeClass("d-none");
                    } else {
                        disabledCount += 1;
                        alert(`Wrong Password, ${5 - disabledCount} attempts left`);
                    }
                }
            })
        })
    </script>
</div>