
<!--<div class="center sticky">-->
    <div id="itemalert" class="alert alert-success alert-dismissible fade show bg-dark text-light text-center fixed-bottom border-0" role="alert">
		<p>Item Added</p>
    <!--</div>-->
</div>