<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop Shoes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {{>stylesheet}}

</head>
<body>
{{>nav_bar}}
<br>
    <div class="wrapper text-center">
        <!--{{message}}-->
        <br>
        <div class="container-fluid justify-content-center row">
            {{> admin_Items}}
        </div>
        {{> addProduct}}
        <br>
    </div>
<br>
{{>footer}}

{{> scripts}}
    </body>
</html>