<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/stylesheet.css">
</head>
<body>
{{>nav_bar}}
{{#if purchase}}
    <!--Alert on purchase: true-->
    <div id="purchase_alert" class="alert alert-warning alert-dismissible fade show text-center" role="alert">
        Successfully purchased!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/if}}
<br>
{{>cart}}
<br>
{{>footer}}

    <div id="itemalert" class="alert alert-success alert-dismissible fade show bg-dark text-light text-center fixed-bottom border-0" role="alert">
        <a id="alert_message">Item Removed</a>
    </div>

<!--scripts-->
 {{>scripts}}
<script src="../scripts/scripts.js"></script>
<!--scripts-->
</body>
</html>